<div class="container  border-bottom">
    <div class="author card hoverable my-1 d-none" id="author-card-template">
        <a href="/gg" class="author-link"><span class="link"></span></a>
        <div class="row px-2 py-2">
            <div class="col-md-2 justify-content-sm-center d-flex">
                <div class="wrapper w-100">
                    <img src="/public/images/man.jpg" class="img-fluid rounded-circle author-avatar">
                    <img src="/public/images/gold_crown.png" class="d-none overlay-image gold">
                    <img src="/public/images/gray_crown.png" class="d-none overlay-image gray">
                    <img src="/public/images/black_crown.png" class="d-none overlay-image black">

                </div>

            </div>
            <div class="col">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="details">
                            <a><h5 class="fullname"></h5></a>
                            <p class="attribute  text-secondary">Создан:</p>
                            <p class="attribute created"></p>

                            <div class="mt-2">
                                <p class="fw-bold attribute text-secondary">День рождения: </p>

                                <p class="attribute birth-date"></p>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn btn-primary justify-content-sm-center d-flex limit-info ">

                                <h5 class="attribute mb-0">Постов: </h5>
                                <h5 class="post-value mb-0">0</h5>
                            </div>
                            <div class="btn btn-primary  limit-info  justify-content-sm-center d-flex ">

                                <h5 class="attribute mb-0">Лайков: </h5>
                                <h5 class="like-value mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="authors"></div>

</div>