<div class="container  border-bottom">
    <div class="author card hoverable my-1 d-none" id="group-card-template">
        <a href="/gg" class="group-link"><span class="link"></span></a>
        <div class="row px-2 py-2">
            <div class="col">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="details">
                            <a id="link-group" href=""><h1 class="fullname"></h1></a>
                        </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="justify-content-sm-center d-flex">
                                <button type="submit" class="subscribe btn btn-primary  py-3 px-4 d-none">Подписаться</button>
                                <button type="submit" class="unsubscribe btn btn-primary  py-3 px-4 d-none">Отписаться</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="groups"></div>

</div>