<div class="container dark  my-5 py-5 px-5">
    <form id="login-form">
        <div class="mb-3">
            <label for="email" class="form-label">Логин</label>
            <input type="text" class="form-control" name="userName" id="email">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="loginPassword" id="password">
        </div>
        <button type="submit" class=" btn btn-primary  py-3 px-4">Войти</button>

        <a href="/register" class=" btn btn-primary  ms-2 py-3" data-link>Зарегистрироваться</a>
    </form>
</div>
