<div class="container card my-5 py-5 px-5">
    <form id="signup-form">
        <div class="mb-3">
            <label for="fullName" class="form-label">Имя</label>
            <input type="text" class="form-control" name="fullName" id="fullName">
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" name="signupPassword" id="password">
            </div>
            <div class="col">
                <label for="phoneNumber" class="form-label">Номер телефона</label>
                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="+7 (___) ___-__-__">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>

        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="birthDate" class="form-label">Дата рождения</label>
                <input type="date" class="form-control" name="birthDate" id="birthDate">
            </div>
            <div class="col">
                <label for="gender" class="form-label">Пол</label>
                <select id="gender" class="form-select">
                    <option value="Female" name="gender" selected>Женский</option>
                    <option value="Male" name="gender">Мужской</option>
                </select>
            </div>
        </div>  
        <button id="signup-submit" type="submit" class="gray btn btn-primary py-3">Зарегистрироваться</button>
    </form>
    <script>
        $(document).ready(function() {
            $('#phoneNumber').inputmask({ mask: '+7 (999) 999-99-99' });
        });
    </script>
</div>